@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kanit:ital,wght@0,100;1,100&family=Nunito:ital,wght@1,400;1,700&display=swap');

* {
    background-color: #073b4c;
    color: #ffd166;
}

.container {
    margin: 100px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    text-align: center;
}

.header-container h1{
    
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    margin: 20px 0;
}

.sub-head {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    font-weight: bold;
    margin: 40px 0;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 500px;
}

img {
    height: 80px;
    width: 80px;
}

.left-arrow {
    transform: rotate(-145deg);
}

.right-arrow {
    transform: scaleX(-1) rotate(-145deg);
}

.btn {
    margin: 50px;
    padding: 2em;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #118ab2;
}

.btn:hover {
    background-color: #06d6a0;
    color: #073b4c;
}

.grid-container {
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.row-container {
    display: flex;
    flex: 1 1 auto;
}


.square-div {
    background-color: white;
    text-align: center;
    flex: 1 1 0;
}